.tintuc img {
  margin-top: 1.75695rem;
  margin-bottom: 1.75695rem;
}

.tintuc h2 {
  color: #262626;
  font-family: var(--font-svn-graphik);
  font-size: 1.75695rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  align-self: stretch;
  margin-bottom: 0.88rem;
}

.tintuc .wp-block-group:nth-child(4) ul > li {
  list-style: disc;
  margin-left: 1.1rem;
}

.tintuc p {
  color: #454545;
  font-family: var(--font-svn-graphik);
  font-size: 1.1713rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00586rem;
}
@media (max-width: 767px) {
  .tintuc h2 {
    font-size: 1.46413rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.00366rem;
  }

  .tintuc img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
