@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .caption1 {
    @apply text-[0.87848rem] leading-[1.2] tracking-[0.00878rem];
  }
  .caption3 {
    @apply text-[0.58565rem] leading-[1.2];
  }
  .sub1 {
    @apply text-[1.1713rem] leading-[1.2] tracking-[0.01464rem];
  }
  .sub2 {
    @apply text-[1.02489rem] leading-[1.2];
  }
  .caption2 {
    @apply text-[0.73206rem] leading-[1.2] tracking-[0.00732rem];
  }
  .button {
    @apply text-[1.02489rem] leading-[1.2];
  }
  .h6 {
    @apply text-[1.46413rem] leading-[1.2];
  }
  .h5 {
    @apply text-[1.75695rem] leading-[1.2];
  }
  .h4 {
    @apply text-[2.34261rem] leading-[1.2] tracking-[0.00586rem];
  }
  .giagoc {
    @apply text-[0.73206rem] leading-[1.2] tracking-[0.01464rem] line-through font-medium text-greyscale-30 text-start;
  }

  .body2 {
    @apply text-[1.02489rem] leading-normal tracking-[0.00256rem];
  }
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fl {
    -webkit-text-strokewidth: 2px;
    -webkit-text-stroke-color: white;
  }

  .full-mb {
    min-width: 100% !important;
    width: 100% !important;
  }

  .container {
    @apply md:min-w-[87.84773060029283rem] md:w-[87.84773060029283rem] min-w-[96%] w-[96%] mx-auto;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  font-size: 1vw;
  @media (min-width: 1367px) {
    font-size: 13.66px;
  }
  /* @media (max-width: 1023px) {
    font-size: 1.778645833vw;
  } */
  @media (max-width: 767px) {
    font-size: 3.6426667vw;
  }
}

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @media (max-width: 767px) {
    overflow-x: hidden !important;
  }
  --radix-navigation-menu-viewport-width: 100%;
}

/* @media (max-width: 1367px) {
  .container {
    min-width: 87.84773060029283rem;
    width: 87.84773060029283rem;
    margin-left: auto;
    margin-right: auto;
  }
} */
/* @media (max-width: 1023px) {
  .container {
    min-width: 95.84%;
    width: 95.84%;
    margin-left: auto;
    margin-right: auto;
  }
} */
@media (max-width: 1023px) {
  .hidden-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }

  .hidden-scrollbar::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    display: none;
  }
}
.input-hidden {
  border: none !important;
  outline: none !important;
}

.input-hidden:focus {
  border: none !important;
  outline: none !important;
}
.input-hidden::-webkit-outer-spin-button,
.input-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
