#accessory_swiper .swiper-scrollbar {
  background: rgba(183, 194, 204, 1);
  height: 0.43924rem;
  border-radius: 0.21962rem;
  overflow: hidden;
  top: auto;
  bottom: 1.02rem;
  @media (max-width: 767px) {
    background: #ebebeb;
    bottom: 0;
    width: 16.61786rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

#accessory_swiper .swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0.21962rem;
  background: rgba(69, 97, 125, 1);
  @media (max-width: 767px) {
    background: #002f60;
  }
}

.arrow-loop {
  animation: arrow-loop 0.5s linear alternate infinite;
}

@keyframes arrow-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0.6rem);
  }
}
