#accessory_swiper .swiper-scrollbar {
  background: rgba(183, 194, 204, 1);
  height: 0.43924rem;
  border-radius: 0.21962rem;
  overflow: hidden;
  top: auto;
  bottom: 1.02rem;
}

#accessory_swiper .swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0.21962rem;
  background: rgba(69, 97, 125, 1);
}

.arrow-loop {
  animation: arrow-loop 0.5s linear alternate infinite;
}

@keyframes arrow-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0.6rem);
  }
}
