#container_nav {
  padding-right: var(--removed-body-scroll-bar-size);
}

#wrapper_nav #nav_down,
#wrapper_nav #categories_nav,
#wrapper_nav #cart_and_user,
#wrapper_nav #logo_nav {
  display: none;
}

#wrapper_nav {
  height: 5.27rem;
  background: #0d1f33;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
}

#wrapper_nav #container_search_nav {
  margin: 0 auto;
  transition: all 0.3s;
  background: transparent;
  border: 2px solid #a9a9a9;
}

#wrapper_nav #nav_up {
  padding-top: 0;
  margin: auto 0;
}

#wrapper_nav #search_nav {
  width: 34.99268rem;
  transition: all 0.3s;
  transition-delay: 0.1s;
  background: transparent;
}

#wrapper_nav + #overlay_search_nav {
  opacity: 1;
}

#btn_close_search_nav {
  animation: btn_close_search_nav 0.4s ease-in-out forwards;
}

@keyframes btn_close_search_nav {
  from {
    transform: translateY(-50%) scale(0.5) rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scale(1) rotate(0deg);
    opacity: 1;
  }
}

#wrapper_nav #search_nav #search {
  transition: all 0.3s;
  padding-left: 3.07rem;
  color: white;
}

#wrapper_nav #search_nav #icon_search_nav {
  right: auto;
  left: 1.02rem;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  opacity: 0.5;
  transition: all 0.2s;
}

#wrapper_nav #search_nav #icon_search_nav.active {
  opacity: 1;
}

#popup_account_nav.active {
  animation: popup_account_nav_open 0.2s linear forwards;
}
@keyframes popup_account_nav_open {
  from {
    transform: translate(-50%, 100%) scale(0.6);
    transform-origin: center;
    opacity: 0;
  }
  to {
    transform: translate(-50%, 100%) scaleX(1);
    opacity: 1;
  }
}
@media (max-width: 767px) {
  @keyframes popup_account_nav_open {
    from {
      transform: translate(-75%, 100%) scale(0.6);
      transform-origin: center;
      opacity: 0;
    }
    to {
      transform: translate(-75%, 100%) scaleX(1);
      opacity: 1;
    }
  }
}
