#wrapper_infinity {
  animation: wrapper_infinity_loop 10s linear infinite;
}

@keyframes wrapper_infinity_loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
