#preview_swiper .swiper-slide .frame_phone {
  transform: translate(-50%, -50%) scaleY(1) scaleX(0.8711565);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#preview_swiper .swiper-slide.swiper-slide-next .frame_phone {
  transform: translate(-43%, -50%) scaleY(1) scaleX(0.8711565);
}

#preview_swiper .swiper-slide.swiper-slide-prev .frame_phone {
  transform: translate(-57%, -50%) scaleY(1) scaleX(0.8711565);
}

#preview_swiper .swiper-slide.swiper-slide-active .frame_phone {
  transform: translate(-50%, -50%) scaleY(1.318382602786273) scaleX(1.06);
  z-index: 50;
  border-radius: 1.31772rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
